<div class="container  max-w-xl">
  <form class="mt-5" [formGroup]="productForm" (ngSubmit)="onSubmit()">


    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="form-group mb-3">
        <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="price">Price</label>
        <input type="text" id="price" formControlName="price" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="image">Image</label>
          <input
            type="file"
            id="image"
            formControlName="image"
            (change)="onImageChange($event)"
            accept="image/*"
            class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3"
          />
        </div>
        
        <div (click)="openImage()" class="cursor-pointer relative bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] w-full p-3 h-72 flex justify-center items-center">
          <ng-container *ngIf="imageUrl; else noImage">
            <img [src]="imageUrl" [alt]="imageUrl" class="w-full h-full object-contain" />
          </ng-container>
          <ng-template #noImage>
            <img src="../../assets/download.png" alt="preview" class=" w-full h-full object-contain opacity-40" />
          </ng-template>
        </div>
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="description">Description</label>
        <textarea id="description" formControlName="description" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm h-72 rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3"></textarea>
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="category">Category</label>
        <select id="category" formControlName="category" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
          <option value="">Select a category</option>
          <option value="category1">Category 1</option>
          <option value="category2">Category 2</option>
          <option value="category3">Category 3</option>
        </select>
    
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#321fdb] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="tag">Tag</label>
        <select id="tag" formControlName="tag" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
          <option selected value="">Select a tag</option>
          <option value="tag1">Tag 1</option>
          <option value="tag2">Tag 2</option>
          <option value="tag3">Tag 3</option>
        </select>
       
      </div>
      <div class="form-group mb-3 fles">
        <label class="flex gap-4 items-center">
          Featured 
        </label>
        <input type="checkbox" formControlName="featured" /> 
      </div>
    </div>
    <div class="w-full px-2">
      <button type="submit" class="h-12 sm:w-[180px] w-full rounded-md px-3 bg-[#321fdb] text-white flex items-center gap-3 font-medium">Submit</button>
    </div>
  </form>
</div>
