<div class="px-5">
    <div *ngFor="let item of errorMsg">
        {{item}}
    </div>
    <div class="mt-5">
        <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
        <p class="text-sm text-neutral-500 font-light">
            Welcome to the dashboard and stay up-to-date with the latest information.
        </p>
    </div>
    <div class="grid-container mt-8">
        <a routerLink="/products" class="bg-white px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#321fdb]  fa-solid fa-fire"></i>
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6" >Products</span>
                    <p class="text-[2em] text-right">{{product}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-star"></i>
                New Arrivals
            </div>
        </a>
        <a routerLink="" class="bg-white px-4 pt-4 rounded-lg w-full shadow ">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#e55353] fa-solid fa-clock"></i> <!-- Use an appropriate icon for In the last hour -->
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Incomes</span>
                    <p class="text-[2em] text-right">${{Totalamount}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                Real-Time Earnings
            </div>
        </a>
        <a routerLink="/orders" class="bg-white  px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#39f] fa-solid fa-dollar-sign"></i> <!-- Use an appropriate icon for Revenue -->
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Orders</span>
                    <p class="text-[2em] text-right">{{nbOrders}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-calendar-days"></i>
                Pending Orders
            </div>
        </a>
        <a routerLink="/customers" class="bg-white px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#f9b115] fa-solid fa-calendar-day"></i> <!-- Use an appropriate icon for Last day -->
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Customers</span>
                    <p class="text-[2em] text-right">{{nbCostumer}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-heart"></i>
                New Customers
            </div>
        </a>
       
    </div>
    

</div>
