<div class="px-5 pb-10">
    <div *ngFor="let item of errorMsg">
        {{item}}
    </div>
    <div class="mt-5">
        <h2 class="text-3xl font-bold tracking-tight">Dashboard</h2>
        <p class="text-sm text-neutral-500 font-light">
            Welcome to the dashboard and stay up-to-date with the latest information.
        </p>
    </div>
    <div class="grid-container mt-8">
        <a routerLink="/products" class="bg-white px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#321fdb]  fa-solid fa-fire"></i>
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Products</span>
                    <p class="text-[2em] text-right">{{product.length}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-star"></i>
                New Arrivals
            </div>
        </a>
        <a routerLink="" class="bg-white px-4 pt-4 rounded-lg w-full shadow ">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#e55353] fa-solid fa-clock"></i>
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Incomes</span>
                    <p class="text-[2em] text-right">${{Totalamount}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                Real-Time Earnings
            </div>
        </a>
        <a routerLink="/orders" class="bg-white  px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#39f] fa-solid fa-dollar-sign"></i>
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Orders</span>
                    <p class="text-[2em] text-right">{{nbOrders}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-calendar-days"></i>
                Pending Orders
            </div>
        </a>
        <a routerLink="/customers" class="bg-white px-4 pt-4 rounded-lg w-full shadow">
            <div class="flex items-center justify-between">
                <i class="text-[2.5em] font-bold text-[#f9b115] fa-solid fa-calendar-day"></i>
                <div>
                    <span class="text-[#9a9a9a] font-light text-[16px] leading-6">Customers</span>
                    <p class="text-[2em] text-right">{{Costumers.length}}</p>
                </div>
            </div>
            <div class="flex items-center gap-3 text-sm text-neutral-500 border-t py-2">
                <i class="fa-solid fa-heart"></i>
                New Customers
            </div>
        </a>
    </div>
    <div class="grid-container mt-10">
        <div class="bg-white p-5 rounded-lg shadow">
            <div class="header  flex items-center justify-between">
                <span class="text-xl font-medium">Last 5 products added</span>
                <i class="cursor-pointer fa-solid fa-minus text-xl font-bold"></i>
            </div>
            <div class="pt-5">
                <ul>
                    <li *ngFor="let item of product.slice(-5).reverse()">
                        <div class="flex items-center py-3 gap-3 justify-between border-t">
                            <div class="flex items-center gap-3">
                                <img class="h-[40px] w-[40px] rounded-full object-cover" [src]="item.image" alt="">
                                <div class="flex flex-col gap-1 items-start ">
                                    <a class="text-lg font-medium">{{ item.name }}</a>
                                    <span class="text-sm text-slate-600">Added in {{
                                        formatReadableDate(item.firstDate)}}</span>
                                </div>
                            </div>
                            <div>
                                <button (click)="deleteProductById(item._id)"
                                    class="bg-red-600 px-4 py-2 text-white rounded-lg font-medium"> delete </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-white  p-5 rounded-lg shadow">
            <div class="header  flex items-center justify-between">
                <span class="text-xl font-medium">Last 5 orders added</span>
                <i class="cursor-pointer fa-solid fa-minus text-xl font-bold"></i>
            </div>
            <div class="pt-5">
                <ul>
                    <li *ngFor="let order of orders.orders.slice(-5).reverse()">
                        <div class="flex items-center py-3 gap-3 justify-between border-t">
                            <div class="flex items-center gap-3">
                                <img class="h-[40px] w-[40px] rounded-full object-cover"
                                    [src]="order.customer.profileImage" alt="">
                                <div class="flex flex-col gap-1 items-start ">
                                    <a class="text-lg font-medium">{{ order.customer.firstName }}
                                        {{order.customer.lastName}}</a>
                                    <span class="text-sm text-slate-600">Ordered in {{
                                        formatReadableDate(order.orderDate)}}</span>
                                </div>
                            </div>
                            <div class="flex items-center gap-1 ">
                                <button (click)="toggleOrderStatusById(order._id)"
                                    class="bg-[#321fdb] px-4 py-2 text-white rounded-lg font-medium">
                                    <div *ngIf="order.status; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock>Disactivate</ng-template>
                                    <ng-template #elseBlock>Activate</ng-template>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-white  p-5 rounded-lg shadow">
            <div class="header  flex items-center justify-between">
                <span class="text-xl font-medium">Last 5 Customers</span>
                <i class="cursor-pointer fa-solid fa-minus text-xl font-bold"></i>
            </div>
            <div class="pt-5">
                <ul>
                    <li *ngFor="let customer of Costumers.slice(-5).reverse()">
                        <div class="flex items-center py-3 gap-3 justify-between border-t">
                            <div class="flex items-center gap-3">
                                <img class="h-[40px] w-[40px] rounded-full object-cover" [src]="customer.profileImage"
                                    alt="">
                                <div class="flex flex-col gap-1 items-start ">
                                    <a class="text-lg font-medium">{{ customer.firstName }} {{customer.lastName}}</a>

                                    <span class="text-sm text-slate-600">register in {{
                                        formatReadableDate(customer.registrationDate)}}</span>
                                </div>
                            </div>
                            <div class="flex items-center gap-1 ">
                                <button (click)="deleteCostumer(customer._id)"
                                    class="bg-red-600 px-4 py-2 text-white rounded-lg font-medium"> delete </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-white  p-5 rounded-lg shadow">
            <div class="header  flex items-center justify-between">
                <span class="text-xl font-medium">Last 5 Categories Added</span>
                <i class="cursor-pointer fa-solid fa-minus text-xl font-bold"></i>
            </div>
            <div class="pt-5">
                <ul>
                    <li *ngFor="let cat of cats.slice(-5).reverse()">
                        <div class="flex items-center py-3 gap-3 justify-between border-t">
                            <div class="flex items-center gap-3">
                                <img class="h-[40px] w-[40px] rounded-full object-cover" [src]="cat.image" alt="">
                                <div class="flex flex-col gap-1 items-start ">
                                    <a class="text-lg font-medium">{{ cat.name }}</a>
                                    <span class="text-sm text-slate-600">{{cat.description}}</span>
                                </div>
                            </div>
                            <div class="flex items-center gap-1 ">
                                <button (click)="deleteCat(cat._id)"
                                    class="bg-red-600 px-4 py-2 text-white rounded-lg font-medium"> delete </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bg-white  p-5 rounded-lg shadow">
            <div class="header  flex items-center justify-between">
                <span class="text-xl font-medium">Last 5 Tags Added</span>
                <i class="cursor-pointer fa-solid fa-minus text-xl font-bold"></i>
            </div>
            <div class="pt-5">
                <ul>
                    <li *ngFor="let tag of tags.slice(-5).reverse()">
                        <div class="flex items-center py-3 gap-3 justify-between border-t">
                            <div class="flex items-center gap-3">
                                <div class="flex flex-col gap-1 items-start ">
                                    <a class="text-lg font-medium">{{ tag.name }}</a>
                                    <span class="text-sm text-slate-600">{{tag.description}}</span>
                                </div>
                            </div>
                            <div class="flex items-center gap-1 ">
                                <button (click)="deleteTag(tag._id)"
                                    class="bg-red-600 px-4 py-2 text-white rounded-lg font-medium"> delete </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>