<div class="px-5">    
   
  
    <div class="mt-5 flex justify-between items-center w-full gap-3 border-b pb-5">
        <div>
            <h2 class="text-3xl font-bold tracking-tight">Product details</h2>
            <p class="text-sm text-neutral-500 font-light">
                Manage [ <span class="text-lg font-normal">{{product.name}}</span> ] product.
            </p>  
            
            </div>
        <a [routerLink]="['/products']" 
        class="h-9 rounded-md px-3 bg-black
            text-white flex items-center gap-3 font-medium">
            <i class="fa-solid fa-backward"></i>
            Back
        </a>
    </div>
    <div class="mt-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
            <div class=" h-[400px] flex justify-center items-center p-5 bg-white" >
                <img class="h-full w-full object-cover" [src]="product.image" alt="">
            </div>
            <div>
                <h1 class="text-4xl font-extrabold">{{product.name}}</h1>
                <div class="mt-3 flex gap-2 items-center">
                    <span class="bg-[#2cacb0] text-white p-2 rounded-md items-center">
                        in Stock
                    </span>
                    <p class="text-slate-500 text-sm">{{product.quantity}} products available</p>
                </div>

                <div class="mt-10 flex gap-5 items-center">
                    <span class="text-6xl font-light text-[#ff6b6b]">{{product.discount}}</span>
                    <span class="relative text-gray-400 discountNumber text-2xl">{{product.price}}</span>
                </div>
                <p class="text-sm text-neutral-600">{{product.description}}</p>

                <div class="flex  gap-5 items-center">
                    <span class="w-20">categories </span> <span class="text-[#f9b115] font-medium text-sm  p-2 rounded-md ">#{{product.category}}</span>
                </div>
                <div class="flex  gap-5">
                    <span class="w-20">tags</span> <span class="text-sm font-medium  text-[#39f] p-2 rounded-md">#{{product.tag}}</span>
                </div>

                <p class="mt-8 text-neutral-500 font-thin">Added in {{product.firstDate}}</p>
                <div class="flex items-center gap-3 mt-5">   
                    <button class="w-32 text-center text-lg text-white font-medium  rounded-md p-2 bg-green-500" (click)="openEditForm()">Edit</button>
                    <button class="w-32 text-center text-lg text-white font-medium bg-red-500  rounded-md p-2" (click)="deleteProduct(product._id)">delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-10 max-w-xl" [hidden]="isopen">
  <form class="mt-5" [formGroup]="productForm" (ngSubmit)="onSubmit()">


    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="quantity">Quantity</label>
        <input type="text" id="quantity" formControlName="quantity" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="price">Price</label>
        <input type="text" id="price" formControlName="price" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="Price-Descount">Price Discount</label>
        <input type="text" id="Price-Descount" formControlName="discount" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3" />
        
      </div>
      <div class="mb-3">
        <div class="form-group">
          <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="image">Image</label>
          <input
            type="file"
            id="image"
            formControlName="image"
            (change)="onImageChange($event)"
            accept="image/*"
            class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3"
          />
        </div>
        
        <div (click)="openImage()" class="cursor-pointer relative bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] w-full p-3 h-72 flex justify-center items-center">
          <ng-container *ngIf="imageUrl; else noImage">
            <img [src]="imageUrl" [alt]="imageUrl" class="w-full h-full object-contain" />
          </ng-container>
          <ng-template #noImage>
            <img src="../../assets/download.png" alt="preview" class=" w-full h-full object-contain opacity-40" />
          </ng-template>
        </div>
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="description">Description</label>
        <textarea id="description" formControlName="description" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm h-72 rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3"></textarea>
        
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="category">Category</label>
        <select id="category" formControlName="category" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
          <option value="">Select a category</option>
          <option value="category1">Category 1</option>
          <option value="category2">Category 2</option>
          <option value="category3">Category 3</option>
        </select>
    
      </div>
      <div class="form-group mb-3">
        <label class="text-lg text-[#000] font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="tag">Tag</label>
        <select id="tag" formControlName="tag" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3">
          <option selected value="">Select a tag</option>
          <option value="tag1">Tag 1</option>
          <option value="tag2">Tag 2</option>
          <option value="tag3">Tag 3</option>
        </select>
       
      </div>
      <div class="form-group flex mb-3 gap-3">
        <label class="flex gap-4 items-center">
          Featured 
        </label>
        <input type="checkbox" formControlName="featured" /> 
      </div>
    </div>
    <div class="w-full">
      <button type="submit" class="h-12 sm:w-[180px] w-full rounded-md px-3 bg-[#321fdb] text-white flex items-center gap-3 font-medium">
        {{editstatus}}
      </button>
    </div>
  </form>
  </div>
