<div class="px-5 w-full">
  <div class="mt-5  w-full gap-3 border-b border-black pb-5">
    <h2 class="text-3xl font-bold tracking-tight">
      Categories
    </h2>
    <p class="text-sm text-neutral-500 font-light">
      Manage Categories
    </p>
  </div>
  <div class="w-[100%]">
    <h1 class="mb-5 mt-10 flex justify-between items-center  text-4xl font-bold">All Categories</h1>
    <div class="grid-container mt-8">
      <div class="bg-white shadow-lg rounded-lg p-2">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <input type="text" id="Title" formControlName="header" class="bg-gray-50 border-2 border-gray-300 text-gray-900
                        text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-2 "
              placeholder="Enter a Title" />
          </div>
          <div class="form-group mb-3">
            <textarea id="description" formControlName="description" class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm h-[50px] rounded-lg 
                        focus:ring-[#321fdb] focus:border-[#321fdb] outline-none block w-full p-3"
              placeholder="Enter a Description"></textarea>
          </div>
          <button class="bg-black w-full rounded-lg text-white font-medium py-1" type="submit">{{editMode ? "Edit" :
            (loading ? "adding.../" :"Add New" )}}</button>
        </form>
      </div>
      <div class="bg-white flex flex-col shadow-lg rounded-lg p-2" *ngFor="let tag of tags">
        <div class="info flex-1 pb-2 border-b flex flex-col">
          <h1 class="text-xl font-medium">{{tag.name}}</h1>
          <p class="text-lg font-light text-slate-600">{{tag.description}}</p>
        </div>
        <div class="flex justify-between items-center pt-2">
          <span class="text-xs text-slate-500">{{formatReadableDate(tag.createdAt)}}</span>
          <div class="flex items-center gap-3">
            <button class="p-2 bg-green-500 rounded-md text-white font-bold" (click)="update(tag._id)"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button class="p-2 bg-red-500 rounded-md text-white font-bold" (click)="delete(tag._id)"><i
                class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>