
<div class="px-5">
    <div class="mt-5 flex justify-between items-center gap-3 border-b pb-5">
        <div>
            
            <div *ngIf="AddNew; then thentext else elsetext"></div>
            <ng-template #thentext>
                <h2 class="text-3xl font-bold tracking-tight">Create Product</h2>
                <p class="text-sm text-neutral-500 font-light">
                Add a new product.
                </p> 
            </ng-template>
            <ng-template #elsetext>  
                <h2 class="text-3xl font-bold tracking-tight">Products (0)</h2>
                <p class="text-sm text-neutral-500 font-light">
                    Discover our products.
                </p>   
            </ng-template>
                   
        </div>
        <div *ngIf="AddNew; then thenBtn else elsebtn"></div>
        <ng-template #thenBtn>
            <a [routerLink]="['/products']" (click)="tooglebtn()" 
            class="h-9 rounded-md px-3 bg-black
             text-white flex items-center gap-3 font-medium">
                <i class="fa-solid fa-list"></i>
                Products
            </a>
        </ng-template>
        <ng-template #elsebtn>
            <a [routerLink]="['/products', 'new']" (click)="tooglebtn()" 
            class="h-9 rounded-md px-3 bg-black
             text-white flex items-center gap-3 font-medium">
                <i class="fa-solid fa-plus"></i>
                Add New
            </a>
        </ng-template>
    </div>
    <div *ngIf="AddNew; else elseBlock">
        <router-outlet></router-outlet>
    </div>
    <ng-template #elseBlock>
        table
    </ng-template>
</div>


