
<div class="px-5">
    <div *ngIf="currentRoutePath === 'products'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <div class="mt-5 flex justify-between items-center w-full gap-3 border-b pb-5">
            <div>
                <h2 class="text-3xl font-bold tracking-tight">Products ({{products.length}})</h2>
                <p class="text-sm text-neutral-500 font-light">
                    Discover our products.
                </p>  
                
              </div>
            <a [routerLink]="['/products', 'new']" 
            class="h-9 rounded-md px-3 bg-black
             text-white flex items-center gap-3 font-medium">
                <i class="fa-solid fa-plus"></i>
                Add New
            </a>
        </div>
        <input matInput (keyup)="Filterchange($event)" placeholder="Search here" 
        class="bg-gray-50 border-2 border-gray-300 text-gray-900 text-sm
            rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none
            w-full sm:w-[320px] p-3 mb-3 mt-3"/>


        <div class="table-container relative max-w-7xl">
            <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 demo-table w-[850px] overflow-x-auto">
                <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                <th class="bg-[#000] font-medium" mat-header-cell *matHeaderCellDef>
                    {{ column === '_id' ? '#ID' : column === 'firstDate' ? 'Added Date' : column === 'updateDate' ? 'Updated Date' : column }}
                </th>
                <td mat-cell *matCellDef="let element; let i = index;" (click)="navigateToProduct(element._id)">
                    <ng-container *ngIf="column === 'image'" class="py-2">
                    <div class="h-14 w-14 flex items-center rounded-full justify-center ">
                        <img [src]="element.image" alt="Product Image"  class=" h-12 w-12 object-cover rounded-full">
                    </div>
                    </ng-container>
                    <ng-container *ngIf="column === '_id';">#{{ i + 1 }}</ng-container>
                    <ng-container *ngIf="column === 'name';">
                        <span class="underline cursor-pointer font-medium">{{  element.name }}</span>
                    </ng-container>
                    <ng-container *ngIf="column === 'quantity';"><p class="font-bold text-lg text-center">{{  element.quantity }}</p></ng-container>
                    <ng-container *ngIf="column === 'price';">   <p class="font-bold text-lg">{{formatPrice(element.price)}}</p></ng-container>
                    <ng-container *ngIf="column === 'discount';"><p class="font-bold text-lg">{{formatPrice(element.discount)}}</p></ng-container>
                    <ng-container *ngIf="column === 'category';">{{element.category}}</ng-container>
                    <ng-container *ngIf="column === 'tag';">{{element.tag}}</ng-container>
                    <ng-container *ngIf="column === 'featured';"><p class="text-center">{{element.featured == true? "Featured" :"Not Featured"}}</p></ng-container>
                    <ng-container *ngIf="column === 'firstDate';">{{formatReadableDate(element.firstDate)}}</ng-container>
                    <ng-container *ngIf="column === 'updateDate';">
                        <span [ngClass]="compareDates(element.updateDate, element.firstDate)">
                            {{ formatReadableDate(element.updateDate) }} 
                          </span>
                    </ng-container>
                </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>   
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of data">
            </mat-paginator>
        </div>                    
    </ng-template>
    <ng-template #elseBlock>
        <router-outlet></router-outlet>
    </ng-template>
</div>
